<div class="modal">
<% if @user.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @user.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <h2 class="modal_title">Sign Up</h2>
  <%= form_for @user do |f| %>
    <%= f.text_field :email, :class => "modal_field", placeholder: "Email address" %>
    <%= f.password_field :password, class: "modal_field", placeholder: "Password" %>
    <%= f.password_field :password_confirmation, class: "modal_field",  placeholder: "Password confirmation" %>
    <%= f.submit "Sign Up", :class => "modal_submit" %>
    <%= link_to "Already have an account? Log in", new_session_url, :class => "modal_link" %>
  <% end %>
</div>